<!-- Contenedor principal -->
<main>
  <!-- Sección de opciones de widgets -->
  <section>
    <!-- Contenedor para el checkbox y el inpu -->
    <div *ngFor="let option of getKeys(); index as i">
      <!-- Elemento input tipo checkbox -->
      <input
        #checkbox
        [(ngModel)]="objectOptionsWidget[option].isChecked"
        type="checkbox"
        id="{{ option[i] }}"
        (ngModelChange)="onChangeCheckbox($event, option)"
      />
      <!-- Label para el elemento input -->
      <label for="{{ option[i] }}">{{ option }}</label>
    </div>
  </section>
  <!-- Sección para los widgets seleccionados -->
  <section class="section-widgets" #sectionWidgets></section>
</main>
